<mat-toolbar color="primary">
  <span class="title">Loading Indicator Demo</span>
  <span class="fill-remaining"></span>
  <a mat-raised-button color="primary" href="https://pfbrowning.github.io/ng-loading-indicator/doc/" target="_blank">Documentation</a>
  <a mat-raised-button color="primary" href="https://github.com/pfbrowning/ng-loading-indicator" target="_blank">Github</a>
</mat-toolbar>

<div style="text-align:center">
  <img width="200" alt="Angular Logo" src="assets/logo.svg">
  <h1 class="mat-h1">
    Welcome to the ng-loading-indicator demo!
  </h1>
</div>

<section>
  <ul class="action-list">
    <li>
      <mat-checkbox [(ngModel)]="applyStyles" matTooltip="Specify whether to use the out-of-the-box functionality with no extra styles or apply example styles">Custom Styles</mat-checkbox>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="show()" matTooltip="Load for two seconds">Example 1</button>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="showDifferentMessages()" matTooltip="Change the loading message before closing">Example 2</button>
    </li>
  </ul>
</section>

<!-- Based on whether the user selected the 'Apply Custom Styles' checkbox, use either
a basic loading indicator component with no styles to demonstrate the out-of-the-box functionality
or a loading indicator component with example styles applied to demonstrate the custom style
functionality.  This is purely for demonstrative purposes: the standard use case is to configure
a single loading indicator component in your app.component template for global use.-->
<ng-container *ngIf="applyStyles;then styled else unstyled"></ng-container>
<ng-template #unstyled>
  <nli-loading-indicator></nli-loading-indicator>
</ng-template>
<ng-template #styled>
  <nli-loading-indicator modalClass="custom-modal" overlayClass="custom-overlay" loadingMessageClass="custom-loading-message" spinnerClass="custom-spinner"></nli-loading-indicator>
</ng-template>