/* Set flex in order to right-align toolbar buttons as per
https://material.angular.io/components/toolbar/overview */
.fill-remaining {
    flex: 1 1 auto;
}

/* Slightly increase the side margins on the toolbar buttons 
to make them look a bit less cramped. */
.mat-toolbar .mat-raised-button {
    margin:0px 6px;
}

/* For small screens */
@media (max-width:550px) {
    /* Hide the toolbar buttons */
    .mat-toolbar .mat-raised-button {
        display:none;
    }
    /* Disable the flex spacer so that it doesn't fill all remaining space 
    and, by extension, so that we can center the title. */
    .mat-toolbar .fill-remaining {
        display: none;
    }
    /* Center the title */
    .mat-toolbar .title {
        margin: 0px auto;
    }
}

/* Display a centered list of actions with no bullets */
.action-list {
    text-align: center;
    padding:0px;
}

.action-list li {
    list-style-type: none;
    margin:8px;
}