<div style="text-align:center">
  <h1>
    Welcome to the ng-loading-indicator demo!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/logo.svg">
</div>

<fieldset>
    <label for="applyStyles">Apply Custom Styles</label>
    <input id="applyStyles" type="checkbox" [(ngModel)]="applyStyles">

    <label for="load">Click to show the loading indicator for two seconds</label>
    <input id="load" type="button" value="Load" (click)="show()" />

    <label for="loadDifferent">Click to demonstrate changing the loading message</label>
    <input id="loadDifferent" type="button" value="Load" (click)="showDifferentMessages()" />
</fieldset>

<!-- Based on whether the user selected the 'Apply Custom Styles' checkbox, use either
a basic loading indicator component with no styles to demonstrate the out-of-the-box functionality
or a loading indicator component with example styles applied to demonstrate the custom style
functionality.  This is purely for demonstrative purposes: the standard use case is to configure
a single loading indicator component in your app.component template for global use.-->
<ng-container *ngIf="applyStyles;then styled else unstyled"></ng-container>
<ng-template #unstyled>
  <nli-loading-indicator></nli-loading-indicator>
</ng-template>
<ng-template #styled>
  <nli-loading-indicator modalClass="customModal" overlayClass="customOverlay" loadingMessageClass="customLoadingMessage" spinnerClass="customSpinner"></nli-loading-indicator>
</ng-template>